/* Custom Scrollbar Styles */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #FACC15;
    border-radius: 4px;
    border: 1px solid #000;
}

::-webkit-scrollbar-thumb:hover {
    background: #FDE047;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #FACC15 #f1f1f1;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Scrollbar Hide for Desktop/Tablet only */
@media (min-width: 768px) {
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }

    .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}