@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700;800;900&display=swap');
@import "tailwindcss";

@import "./styles/fonts.css";
@import "./styles/animations.css";
@import "./styles/brutalist.css";
@import "./styles/gradients.css";
@import "./styles/scrollbar.css";
@import "./styles/toast.css";
@import "./styles/dropdown.css";
@import "./styles/datepicker.css";
@import "./styles/pin.css";